body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.sentence {
    margin: 20px;
    font-size: 24px;
}

.word {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 25px;
    color: #007bff;
}

.word:hover {
    font-family: 'Comic Sans MS', cursive;
    font-size: 30px;
}

.highlight {
    background-color: rgb(168, 241, 154);
}

.next-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.next-button:hover {
    background-color: darkblue;
    font-weight: bold;
}

p {
    color: green;
    font-weight: bold;
    font-size: 2rem;
}

/* Responsive CSS */
@media only screen and (max-width: 768px) {
    .sentence {
        font-size: 20px;
    }

    .word {
        font-size: 16px;
    }

    .next-button {
        font-size: 16px;
    }

    p {
        font-size: 1.5rem;
    }
}